figure.track{
  display: inline-block;
  margin: 0 5px 20px 5px;
}

img.track{
  width: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure.track figcaption{
  text-align: center;
}
