ol li, ul li{
  list-style-position: inside;
  padding-left: 20px;
}

ol.video{
  margin: 0;
  width: auto;
}

ol.video.outer{
  background-color: var(--text-color);
  color: var(--background-color);
  overflow-y: auto;
  padding: 10px 6px;
  border-radius: 3px;
  max-height: 300px;
}

ol.video.inner li{
  list-style-position: inside;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 5px 2em;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

ol.video.inner li:hover{
  background-color: var(--text-color);
  color: var(--background-color);
}

ol.video span{
  padding: 0 10px;
}
