---
---

@import "normalize";

@import "{{ site.theme }}";
@import "anti-theme";

@import "main";
@import "post";
@import "navigation";

@import "table-afr";

html{
  --text-color: #6D6D6D;
  --text-understatement-color: gray;
  --background-color: #E7E7E7;
}
