---
---

@import "normalize";

@import "{{ site.theme }}";
@import "anti-theme";

@import "main";
@import "post";
@import "report";
@import "navigation";

@import "bilibili";
@import "video-list";
@import "table-afr";

html{
  --text-color: #6d6d6d;
  --text-understatement-color: gray;
  --background-color: #e7e7e7;
  --background-alternative-color: white;
}
