---
layout: post
---

<!-- 2020-02-07-AFR-S5-A2-R02-Bahrain -->
{% assign name-with-date = page.path | split: "/" | last | split: "." | first %}
<!-- AFR-S5-A2-R02-Bahrain -->
{% assign name = name-with-date | split: "-" | slice: 3, name-with-date.size | join: "-" %}
<!-- S5 -->
{% assign season = name | split: "-" | slice: 1, 1 | first %}
<!-- videos-S5 -->
{% capture races-season %}races-{{ season }}{% endcapture %}
<!-- A2-R02 -->
{% assign tier-race = name | split: "-" | slice: 2, 2 | join: "-" %}
<!-- R02-Bahrain -->
{% assign race-track = name | split: "-" | slice: -1 , 1 | join: "-" %}
{% assign race-data = site.data.races[races-season][tier-race] %}
{% assign video-list = race-data.videos %}
<!-- Bahrain -->
{% assign track-name = race-track | split: "-" | last %}

<h2 id="视频">视频</h2>

{% if video-list %}
  <ol class="video outer">
    {% for video in video-list %}
      <li>
        <span>{{ video.name }}</span>
        <ol class="video inner">
          {% for item in video.pages %}
          <li onclick="bilibili('recording', '{{ video.link }}&page={{ item.number }}')">
            {{ item.name }}
          </li>
          {% endfor %}
        </ol>
      </li>
    {% endfor %}
  </ol>

  <iframe id="recording" src="{{ video-list[0].link }}&high_quality=1&danmaku=1" scrolling="no"
    border="0" frameborder="no" framespacing="0" allowfullscreen="true" class="bilibili"> </iframe>
{% else %}
  <p>The videos are missing.</p>
{% endif %}

<h2 id="结果">结果</h2>

{% if race-data.result %}
  {% include tables/{{ name }}-table.html %}
{% else %}
  <p>The result is missing.</p>
{% endif %}

<h2 id="注记">注记</h2>

{% if race-data.note %}
  {% capture notes %}
    {% include notes/{{ name }}-note.md %}
  {% endcapture %}
  {{ notes | markdownify }}
{% else %}
  <p>The notes are missing.</p>
{% endif %}

<h2 id="赛道">赛道</h2>

{% include track.html track=track-name year=page.year %}
