---
layout: post
---

{% assign name-with-date = page.path | split: "/" | last | split: "." | first %}
{% assign name = name-with-date | split: "-" | slice: 3, name-with-date.size | join: "-" %}
{% capture name-video %}{{ name }}-video{% endcapture %}
{% assign name-map = name | split: "-" | slice: -2 , 2 | join: "-" %}

<h2 id="视频">视频</h2>

<script type="text/javascript">
function bilibili(link) {
  document.getElementById('bilibili').src = link + '&high_quality=1&danmuku=1';
}
</script>
<ol class="video">
{% for item in site.data.videos[name-video] %}
  <li onclick="bilibili('{{ item.link }}')">
    {{ item.name }}
  </li>
{% endfor %}
</ol>

<iframe id="bilibili" src="{{ site.data.videos[name-video][0].link }}&high_quality=1&danmaku=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" class="bilibili"> </iframe>

<h2 id="结果">结果</h2>

{% include tables/{{ name }}-table.html %}

<h2 id="注记">注记</h2>

{% capture note %}
  {% include notes/{{ name }}-note.md %}
{% endcapture %}
{{ note | markdownify }}

<h2 id="赛道">赛道</h2>

<figure class="map">
  <img src="/assets/images/race-track-2019-official-maps/{{ name-map }}.jpg" alt="{{name-map}} 2019 Official Map" class="map">
  <figcaption>{{name-map}} 2019 Official Map</figcaption>
</figure>

<figure class="map">
  <img src="/assets/images/race-track-google-maps/{{ name-map }}.jpg" alt="{{ name-map }} Google Map" class="map">
  <figcaption>{{ name-map }} Google Map</figcaption>
</figure>
